

#search {
  input:focus {
    outline: 0;
  }
  .search-panel {
    max-height: calc(100vh - 100px);
    overflow-y: auto;
  }
}

/*halo var*/

:root {
  --halo-cw-primary-1-color: var(--primary);
}
