<div
  id="nav-menu-panel"
  th:with="menu = ${not #strings.isEmpty(theme.config.base.menu) ? menuFinder.getByName(theme.config.base.menu) : menuFinder.getPrimary()}"
  class="float-panel float-panel-closed fixed right-4 px-2 py-2 transition-all"
>
  <div class="contents" th:if="${menu != null}">
    <a
      th:each="menuItem : ${menu.menuItems}"
      th:href="@{${menuItem.status.href}}"
      th:target="${menuItem.spec.target?.value}"
      class="group flex items-center justify-between gap-8 rounded-lg py-2 pl-3 pr-1 transition hover:bg-(--btn-plain-bg-hover) active:bg-(--btn-plain-bg-active)"
    >
      <span
        class="font-bold text-black/75 transition group-hover:text-(--primary) group-active:text-(--primary) dark:text-white/75"
        th:text="${menuItem.status.displayName}"
      >Menu</span>
      <span
        th:if="${menuItem.spec.target?.value == '_blank'}"
        class="icon-[tabler--external-link] ml-1 -translate-y-px text-[1.3rem] text-black/20 transition dark:text-white/20"
      ></span>
      <span
        th:unless="${menuItem.spec.target?.value == '_blank'}"
        class="icon-[material-symbols--chevron-right-rounded] ml-1 -translate-y-px text-[1.3rem] text-black/20 transition dark:text-white/20"
      ></span>
    </a>
  </div>
</div>
