<th:block th:fragment="notice" th:with="noticeConfig = ${(theme.config.appearance != null and theme.config.appearance.notice != null) ? theme.config.appearance.notice : theme.config.notice}">
  <div
    th:if="${noticeConfig != null}"
    class="notice-card onload-animation relative mb-4 transition-all duration-300 hover:shadow-lg"
    th:classappend="|notice-${noticeConfig.level}|"
  >
    <div
      class="notice-content card-base flex items-center rounded-xl border p-4 transition"
      th:classappend="${noticeConfig.level == 'happy' ? 'notice-happy' : ''}"
    >
      <div class="mr-4 flex shrink-0 items-center justify-center">
        <th:block th:if="${noticeConfig.level == 'happy'}">
          <span class="text-2xl" aria-hidden="true">🎉</span>
        </th:block>
        <th:block th:if="${noticeConfig.level == 'info'}">
          <span class="icon-[material-symbols--info-outline-rounded] text-2xl text-[var(--admonitions-color-note)]"></span>
        </th:block>
        <th:block th:if="${noticeConfig.level == 'tip'}">
          <span class="icon-[material-symbols--lightbulb-outline-rounded] text-2xl text-[var(--admonitions-color-tip)]"></span>
        </th:block>
        <th:block th:if="${noticeConfig.level == 'important'}">
          <span class="icon-[material-symbols--warning-outline-rounded] text-2xl text-[var(--admonitions-color-warning)]"></span>
        </th:block>
        <th:block th:if="${noticeConfig.level == 'warning'}">
          <span class="icon-[material-symbols--error-outline-rounded] text-2xl text-[var(--admonitions-color-caution)]"></span>
        </th:block>
      </div>
      <div class="notice-text grow text-sm font-bold md:text-base" th:utext="${noticeConfig.content}"></div>
    </div>
  </div>
</th:block>
