<!doctype html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: html(title = |#{page.links.title} - ${site.title}|, hero = null, content = ~{::content}, head = null, footer = null, sidebar = null, contentClass = null, pageType = 'archives')}"
>
  <th:block th:fragment="content">
    <div class="card-base px-8 py-6">
      <div class="mb-10 flex justify-center">
        <a
          href="/links-submit"
          class="btn-regular group flex h-11 items-center gap-2 rounded-xl px-6 text-sm font-bold transition-all active:scale-95"
        >
          <span class="icon-[tabler--link-plus] text-lg text-[var(--primary)]"></span>
          <span class="text-black/70 group-hover:text-[var(--primary)] dark:text-white/70">申请友链</span>
        </a>
      </div>

      <th:block th:each="group : ${groups}">
        <div class="mt-5">
          <h2 th:text="${group.spec.displayName}" class="my-2 text-lg font-medium md:text-xl"></h2>
          <div class="grid grid-cols-2 gap-4 md:grid-cols-3">
            <th:block th:each="link : ${group.links}" :key="i">
              <a th:href="${link.spec.url}" target="_blank" th:title="${link.spec.displayName}" class="group">
                <div
                  class="flex items-center justify-start space-x-3 rounded-xl p-3 shadow-md transition-all group-hover:bg-[var(--btn-plain-bg-hover)]"
                >
                  <div class="h-14 w-14 shrink-0 overflow-hidden rounded-full">
                    <img
                      class="h-full w-full object-cover transition-all duration-500 group-hover:scale-110"
                      th:src="${link.spec.logo}"
                      th:alt="${link.spec.displayName}"
                    />
                  </div>
                  <div class="flex-1 overflow-hidden group-hover:text-[var(--primary)]">
                    <div th:text="${link.spec.displayName}" class="line-clamp-1 font-medium"></div>
                    <div
                      th:text="${link.spec.description}"
                      class="line-clamp-2 text-sm text-black/50 dark:text-white/50"
                    ></div>
                  </div>
                </div>
              </a>
            </th:block>
          </div>
        </div>
      </th:block>
    </div>
  </th:block>
</html>
